<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    {{!-- Icon --}}
    <link rel="shortcut icon" href="/img/icon/MyNotesIcon.png" type="image/x-icon">
    {{>_linksCSS}}
    {{!-- CSS --}}
    <link rel="stylesheet" href="/css/{{css}}">
</head>
<body>
    {{>_header}}
    {{{body}}}
    {{>_footer}}

    {{!-- JS --}}
    {{>_linksJS}}
    <script type="module" src="/js/{{js}}"></script>

   {{#if alert}}
    <script type="module">
        import CreateToastify from "/js/class/Toastify.mjs";

        const Toastify = new CreateToastify();

        Toastify.toastError("{{alert}}"); // Mostra o alerta no Toastify
        console.log("{{alert}}")
    </script>
{{/if}}
</body>
</html>