<main class="mt-4 mb-4">
  <div class="container">
    <h2>Notas Concluídas</h2>
    <div class="form-area">
      <form action="/" method="get">
        <select name="noteFilter" id="noteFilter">
          <option value="">Crescente</option>
          <option value="">Decrescente</option>
        </select>
        <button type="submit"><i
            class="fa-solid fa-magnifying-glass"
          ></i></button>
      </form>
    </div>
    <div class="notes-div mt-4">
      {{#if notes}}
        {{#each notes}}
          <div class="notes mb-4">
            <div class="container">
              <div class="row">
                <div class="col-1">
                  <i class="fa-solid fa-book"></i>
                </div>
                <div class="col-9">
                  <h3><a href="/note?noteId={{_id}}">{{title_note}}</a>
                    <span><a href="/tag?tag={{tag_note}}&order=asc">{{tag_note}}</a></span></h3>
                  <h4>{{content_note}}</h4>
                </div>
                <div class="col-2">
                  <a
                    href="/remove-note/completed/{{_id}}"
                    class="cancel-note"
                  ><i class="fa-solid fa-trash"></i></a>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      {{else}}
        <h3>Nada para mostrar aqui</h3>
      {{/if}}

    </div>
  </div>
</main>