<main class="mt-4  mb-4">
  <div class="container">
    <div class="note-div">
      <div class="note-header">
        <div class="note-title">
          <h2>{{notes.title_note}}</h2>
          <h3><a href="/tag?tag={{notes.tag_note}}&order=asc">{{notes.tag_note}}</a></h3>
        </div>
        <div class="button-div">
          {{#if open}}
            <a href="/complete-note/{{notes._id}}" class="complete-note"><i
                class="fa-solid fa-check"
              ></i></a>
            <a href="/cancel-note/{{notes._id}}" class="cancel-note"><i
                class="fa-solid fa-ban"
              ></i></a>
          {{/if}}
        </div>
      </div>
      <div class="note-dates">
        <span><b>Data de criação:</b> {{creationDate}}</span>
        <span><b>Data de finalização:</b> {{finishDate}}</span>
      </div>
      <hr />
      <div class="note-content">
        <p>{{notes.content_note}}</p>
      </div>
    </div>
  </div>
</main>